services:
  postgres:
    container_name: nestjs-demo-backend-db
    image: postgres:latest
    secrets:
      - db_password
    environment:
      POSTGRES_DB_NAME: dev
      POSTGRES_USER: admin
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
      TZ: Europe/Paris
    ports:
      - "5440:5432"
    volumes:
      - postgres:/var/lib/postgresql/data
secrets:
  db_password:
    file: ./dbpw.dev.secret.txt
volumes:
  postgres:
